*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: beige;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box img{
    width: 100%;
    height: auto;
}
.boxImg{} 
.boxImg{
    max-height: 400px;
    width: 320px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header p{
    width: 700px;
    text-align: center;
}
#home{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: aquamarine;
}